<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Title of component -->
      <h1>{{ title }}</h1>
      <button (click)="increaseCount()" class="btn btn-primary">Increase</button>
      <button (click)="decreaseCount()" class="btn btn-danger m-1">Decrease</button>
      <p>X-mas spirit counter: {{ count }}</p>
      <hr>
      <!-- Demonstration of the {{ }} usage -->
      <p>URL api : {{ url }}</p>
      <p>URL Users: {{ urlUsers }}</p>
      <!-- users dropdown menu -->  
      <div class="dropdown">
        <p style="text-align: center; font-size: large;">select a user</p>
        <select class="form-control" [(ngModel)]="user">
          <!-- iterate for array -->
          @for(user of users; track user.id){
          <!-- Using the brackets you can show the user which is currently selected, though because it's already assigned in the select field, it takes that value already --> 
          <option [value]="user.name">{{user.name}}</option>
          }</select>
          <hr>
          <!-- New user adder -->
          <p style="font-size: large; text-align: center;">add user</p>
          <!-- Using Angular we will be using ngModels, in this code it serves a similar purpose to the id's we used to use in javascript, but way easier, do keep in mind, this breaks if you use form-tags -->
          <div class="form-group">
            <label for="newUser">Username</label>
            <input [(ngModel)]="newUser" type="text" class="form-control" id="newUser" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="newPassword">Password</label>
            <input [(ngModel)]="newPassword" type="password" class="form-control" id="newPassword" placeholder="Password">
            <button type="submit" (click)="addUser()" class="btn btn-primary">Submit</button>
          </div>
      </div>
      <hr>
      <!-- display currently selected user -->
      <p class="currentUser">{{user}} </p>
      <!-- Delete user button -->
      <button (click)="deleteUser()" class="btn btn-danger">Delete user</button>
      <!-- Shows off binding with text updating live -->
      <input type="text" [(ngModel)]="myContent" placeholder="add item for selected user" style="width: 100%;">
      <h2>{{ myContent }}</h2>
      <!-- Post button which pushes the data in myContent -->
      <button (click)="postData()" class="btn btn-primary">Post</button>
      <!-- inbetween the {{}} you can use maths like you see the values getting substracted here -->
      <h2>Your budget is €{{budget-totalPrice}}</h2>
      <hr>
      <h3>My Shoppinglist</h3>
      <!-- Iterates the items from the api into a list -->
      @for(todo of todos; track todo.id){
        <!-- todo makes sure it only updates the right one, see also the typeScript -->
        <button (click)="changeDone(todo)" class="btn btn-primary">✓</button>
        <!-- Delete button -->
        <button (click)="deleteData(todo)" class="btn btn-danger">X</button>
        <!-- Edit Button -->
        <button (click)="editData(todo)" class ="btn btn-secondary">Edit</button>
        <br>
        @if(todo.done){
          <!-- the decoration strikes through the ones you have bought -->
          <i style="text-decoration:line-through; font-size: larger; margin-left: 10px;">{{todo.title}} - {{todo.owner}} |<span> €{{todo.price}}</span></i><hr>
        }@else{
          <i style="font-size: larger; margin-left: 10px;">{{todo.title}} - {{todo.owner}} |<span> €{{todo.price}}</span></i><hr>
        }
      }
      <hr>
      <!-- show the total price of all items in the shopping list -->
      <h3>Total Spent: €{{totalPrice}}</h3>
    </div>
  </div>
</div>