<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <button (click)="increaseCount()" class="btn btn-primary">Increase</button>
      <p>Count: {{ count }}</p>

      <input type="text" [(ngModel)]="myContent">
      <h2>{{ myContent }}</h2>
      <button (click)="postData()" class="btn btn-primary">Post</button>
      <h3>My Shoppinglist</h3>
      @for(todo of todos; track todo.id){
        <!-- todo makes sure it only updates the right one, see also the typeScript -->
        <button (click)="changeDone(todo)" class="btn btn-primary">✓</button>
        @if(todo.done){
          <i style="text-decoration:line-through;">{{todo.title}} - {{todo.owner}}</i><br>
        }@else{
          <i >{{todo.title}} - {{todo.owner}}</i><br>
        }
      }
    </div>
  </div>
</div>